<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="/assets/img/user.jpg">
        </a>
    </div>
    <div class="user-intro center-align">
        <i>你的劫（Eumenides）</i>
    </div>
    <div class="user-intro center-align">
        <h4>一个<span class="typing-text hidden">勤奋, 上进, 求索, 创新</span>的爱码士</h4>
    </div>
    <div class="user-content center-align">
        <p>
            年轻人不讲武德，耗子尾汁。
        </p>
        <p>
            知之为知之，不知百度知。
        </p>
    </div>
    <br>
</div>
